<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Firebase Blog</span>
      <span class="the-spacer"></span>
      <!-- <mat-icon class="the-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="the-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
      <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
          <span>Hello {{user.displayName}}</span>
          <button mat-button (click)="auth.logout()">Logout</button>
      </div>
      <ng-template #showLogin>
          <button mat-button (click)="auth.login()">Login</button>
      </ng-template>
    </mat-toolbar-row>
</mat-toolbar>